* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
html {
  background-color: rgba(0, 0, 0, 0.856);
}
section {
  width: 20%;
  padding-top: 20%;
  margin: auto;
  color: aliceblue;
}
.container {
  width: 100%;
}
.deletItem {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  font-size: 10px;
  color: aliceblue;
  background-color: rgb(46, 46, 46);
  border: 0;
}
.p_todo {
  text-decoration: line-through;
}

input {
  width: 70%;
  outline: none;
  border: 0;
  padding: 20px 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.062);
}
.addItems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.btn-add {
  border-radius: 20px;
  padding: 20px 20px;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.062);
  border: 0;
  margin: 5px;
  color: aliceblue;
}
.btn {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.062);
  border: 0;
  padding: 20px;
  margin: 0 20px;
  cursor: pointer;
  color: aliceblue;
}
.btn-update {
  
  transition: all 0.4s ease-in-out;
}
.btn-update:hover {
  background-color: rgba(0, 0, 0, 0.349);
}
.btn-toggleTodos {
  margin: auto;
}
@media (max-width: 992px) {
  input{
    width: 75%;
  }
  section {
    width: 100%;
  }
  .container {
    padding: 30px;
  }
  .btn-update {
    width: 25%;
    margin-bottom: 20px;
  }
  .btn-toggleTodos{
    width: 100%;
    margin: 20px 0;
  }
}
